div {
}

.main {
  
}

.container {
  display: block;
  margin: auto;
  max-width: 1600px;
  max-height: 2644px;
}

img {
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
}

.firstPage {
  display: block;
  position: absolute;
}

.topNav {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 1.5%;
  left: 67.3%;
  height: 4.2%;
  width: 13%;
  border: 1px solid rgb(0, 255, 170);
  z-index: 1;
}

a {
}

.history1 {
  float: left;
  width: 40%;
  border: 1px solid rgb(255, 17, 0);
}

.team2 {
  float: right;
  width: 40%;
  border: 1px solid rgb(255, 0, 242);
}

.underNav {

}

.navb {
  /* border: 1px solid forestgreen; */
}

.StickyNav {
}

.SecondPage {
  /* border: 1px solid yellow; */
}

.Carousel {
  /* border: 1px solid rgb(255, 0, 234); */
}

.LastPage {
  /* border: 1px solid rgb(4, 255, 0); */
}

.Footer {
  /* border: 1px solid rgb(51, 0, 255); */
}

@media only screen and (max-width: 600px) {
  .Carousel {
    /* fold the carousel for mobile */
  }
}