.container {
  margin: auto;
  max-width: 1600px;
  max-height: 2644px;
}

img {
  width: 100%;
  height: auto;
}

.firstPage {
  position: relative;
}

.topNav {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 2.44%;
  left: 67.5%;
  height: 2.42%;
  width: 12.5%;
}

a:hover {
  border: 2px solid white;
}

.topHistory, .bottomHistory {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
}

.topTeam, .bottomTeam {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
}

.mainNav {
  position: sticky;
  top: 0;
}

.Nav {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 32.43%;
  left: 67.5%;
  height: 21.62%;
  width: 12.5%;
}

.Carousel {
}

.LastPage {
  display: flex;
  position: relative;
}

.Tabs {
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 20%;
  width: 17.5%;
  height: 100%;
}

.mtnOne {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}

.mtnTwo {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .Carousel {
    /* fold the carousel for mobile */
  }
}